.bp3-icon-chevron-up::before {
    content: none;
}

.bp3-icon-chevron-down::before {
    content: none;
}

.fill-w {
    width: 100%;
}

.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
}